.zchat-container {
  width: 100%;
  background-color: #f5f1ef;
}

.z-message-row {
  padding: 5px;
}

.z-message-row.received {
  background-color: #fff;
}

.z-message-row.sent {
  background-color: #c2ebc3;
  text-align: right;
}

.z-message-author {
  font-size: 0.9em;
}

.z-message-text {
  font-size: 1.4em;
}

.z-message-created {
  font-size: 0.7em;
}

.z-message-form {
  padding: 5px;
  display: flex;
}

.z-message-form-input {
  padding-right: 10px;
  width: 65%;
}

.z-message-form-input input {
  width: 100%;
}
.z-message-form-button {
  padding-top: 5px;
}

.z-form-emoji-button {
  padding-top: 8px;
  padding-right: 5px;
}
